<div
    class="rounded  m-16  shadow sm:rounded-md shadow-md md:shadow-lg lg:rounded-lg shadow-inner xl: rounded-xl shadow-lg bg-grey-light">
    <div class="px-8 py-8">
        <nav class="flex  flex-wrap bg-white p-3">
            <span class="font-semibold text-xl tracking-tight">Shopping Cart</span>
            <div class="ml-auto font-bold">
                Your cart:<span class="text-red">{{cartCount}}</span>
            </div>
        </nav>
    </div>
    <div class="px-4 py-4">
        <table *ngIf='cartItems.length!=0;else elseBlock' class="border-collapse w-full">
            <thead>
                <tr class="bg-white">
                    <th
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        PRODUCT ID</th>
                    <th
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        PRODUCT NAME</th>
                    <th
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        DESCRIPTION</th>
                    <th
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        QUANTITY</th>
                    <th
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        TOTAL PRICE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems"
                    class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>
                        {{cartItem.id}}
                    </td>
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>
                        {{cartItem.name}}
                    </td>
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>
                        {{cartItem.description}}
                    </td>
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>
                        <input #quantity size="2" value="1" type="number" min="1" (change)=updatePrice($event,cartItem)>
                    </td>
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>{{cartItem.price | currency:'INR'}}
                    </td>
                    <td
                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">
                        </span>
                        <button class="bg-red-dark text-white font-bold py-2 px-4 rounded-full"
                            (click)="removeItem(cartItem)">Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button *ngIf='cartItems.length!=0' class="bg-green-dark text-white font-bold rounded-full py-2 px-4 "
        (click)="placeOrder()">Place
        Order</button>
    <button *ngIf='cartItems.length!=0' class="bg-green-dark text-white font-bold rounded-full py-2 px-4 ml-auto "
        (click)="continue()">Back
    </button>

</div>


<ng-template #elseBlock>
    <h4 class='col  mt-5'>You Cart Is Empty..</h4>
</ng-template>
<div *ngIf="details"
    class="rounded  m-16 w-50 h-auto shadow sm:rounded-md shadow-md md:shadow-lg lg:rounded-lg shadow-inner xl: rounded-xl shadow-lg bg-light">
    <h3 class=" flex justify-center">Fill Your Shipping Details</h3>
    <div class='shadow p-3 m-10 w-40 border border-light rounded-sm'>
        <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class='from-group'>
                <label>Name</label>
                <input type='text' required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                    class="form-control" name='name' [(ngModel)]='userModel.name'>
            </div>
            <div ngModelGroup="address">
                <div class="from-group">
                    <label>Street</label>
                    <input type="text" required #street="ngModel" [class.is-invalid]="street.invalid && street.touched"
                        class="form-control" name="street" [(ngModel)]='userModel.street'>
                </div>
                <div class="from-group">
                    <label>City</label>
                    <input type="text" required #city="ngModel" [class.is-invalid]="city.invalid && city.touched"
                        class="form-control" name="city" [(ngModel)]='userModel.city'>
                </div>
                <div class="from-group">
                    <label>State</label>
                    <input type="text" required #state="ngModel" [class.is-invalid]="state.invalid && state.touched"
                        class="form-control" name="state" [(ngModel)]='userModel.state'>
                </div>
                <div class="from-group">
                    <label>PostelCode</label>
                    <input type="text" required #postalCode="ngModel"
                        [class.is-invalid]="postalCode.invalid && postalCode.touched" class="form-control"
                        name="postal code" [(ngModel)]='userModel.postalCode'>
                </div>
            </div>
            <div class='from-group'>
                <label>Phone</label>
                <input type='tel' required #phone="ngModel" pattern="^\d{10}$"
                    [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name='phone'
                    [(ngModel)]='userModel.phone'>
            </div>
            <div class="text-center mt-5 ">
                <button [disabled]="userForm.form.invalid" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>