<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-5 ml-5">
        <div class="input-group">
            <input class="form-control  mr-sm-2 " type="search" placeholder="Start typing product name"
                [(ngModel)]="searchProduct">
            <span class=" input-group-btn">
                <button class="btn btn-primary " type="submit">Search</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mr-5 ml-5 mt-5 shadow p-4 mb-4 bg-light border border-light rounded-lg">
        <nav class="navbar bg-white ">
            <a class="navbar-brand text-dark font-weight-bold">Product List</a>
            <div class="ml-auto font-weight-bold">
                <a routerLink='/cart' routerLinkActive="active">Your cart:<span>{{cartCount}}</span></a>
            </div>
        </nav>
        <app-product-list [searchProduct]="searchProduct" (cartCountEvent)="cartCount=$event"></app-product-list>
    </div>
</div>